[submodule "oauthenticator"]
	path = oauthenticator
	url = https://github.com/hydroshare/oauthenticator.git
[submodule "dockerspawner"]
	path = dockerspawner
	url = https://github.com/jupyterhub/dockerspawner.git
