/*
 *
 *     Name:       Base16 3024 Dark
 *         Author:     Jan T. Sott (http://github.com/idleberg)
 *
 *             CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
 *                 CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
 *                     Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 *
 *                     */

/* Uncomment to use a custom font
 * div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
 *   font-family: 'Custom Font Name', monospace !important;
 *   }
 *   */

/* GLOBALS */
/*body {background-color: #090300;}
a {color: #01a0e4;}
*/


input.raw_input {
    font-family: monospace;
    font-size: inherit;
    color: inherit;
    width: auto;
    vertical-align: baseline;
    padding: 0em 0.25em;
    margin: 0em 0.25em;
    width: 50px;
}

