# To override these values, set the shell environment variables.
JUPYTERHUB_VERSION=0.9.4

# Name of Docker machine
DOCKER_MACHINE_NAME=jupyterhub

# Name of Docker network
DOCKER_NETWORK_NAME=jupyterhub-network

# Single-user Jupyter Notebook server container image
#DOCKER_NOTEBOOK_IMAGE=cuahsi/singleuser
DOCKER_NOTEBOOK_IMAGE=cuahsi/singleuser:debugging
#DOCKER_NOTEBOOK_IMAGE=cuahsi/singleuser:wine

# the JupyterHub image we want to use
JUPYTER_NOTEBOOK_IMAGE=cuahsi/jupyterhub:latest

# Notebook directory in the container.
# This will be /home/jovyan/work if the default
# This directory is stored as a docker volume for each user
DOCKER_NOTEBOOK_DIR=/home/jovyan/work

# Docker run command to use when spawning single-user containers
DOCKER_SPAWN_CMD=start-singleuser.sh

# Name of JupyterHub container data volume.
# This is a name for the host volume that docker will use
DATA_VOLUME_HOST=jupyterhub-data

# Data volume container mount point.
# This is the mounting location inside th jupyterhub container
DATA_VOLUME_CONTAINER=/data

# JupyterHub container volume container mount point for userdata
#USERDATA_VOLUME_CONTAINER=/userspace

# Name of JupyterHub postgres database data volume
DB_VOLUME_HOST=jupyterhub-db-data

# Postgres volume container mount point
DB_VOLUME_CONTAINER=/var/lib/postgresql/data

# The name of the postgres database containing JupyterHub state
POSTGRES_DB=jupyterhub

# Name of the user on the jupyter container.
# This is used to set userspace permissions.
JUPYTER_USER=root

# location of the userspace on the host machine
JUPYTER_USERSPACE_DIR_HOST=[e.g. /remote/data/userspace]

# Location of the userspace in the JupyterHub container.
JUPYTER_USERSPACE_DIR=[e.g. /userspace]

# Location of shared default notebooks
# inside the JupyterHub container.
# These are used to populate the userspace when the
# singleuser container is created.
JUPYTER_NOTEBOOK_DIR=/userspace/_global/notebooks

# Single user memory limit for the docker container
DOCKER_MEM_LIMIT=16g

# container culling settings
CONTAINER_IDLE_TIMEOUT=3600
CONTAINER_MAX_AGE=86400

# docker spawner timeout settings
SPAWNER_START_TIMEOUT=300
SPAWNER_HTTP_TIMEOUT=300

# set ssl paths inside the Notebook and REST containers
SSL_CRT=/srv/jupyterhub/secrets/jupyterhub.crt
SSL_KEY=/srv/jupyterhub/secrets/jupyterhub.key

# set hub and rest ip addresses
JUPYTER_HUB_IP=[e.g. jupyter-dev.cuahsi.org]
JUPYTER_REST_IP=[e.g. jupyter-dev.cuahsi.org]

# directory of static js/css files on the host machine
JUPYTER_STATIC_DIR_HOST=[e.g. /remote/data/userspace/_global/jupyterhub/static]

# JupyterHub API Token
# can be generated using $(openssl rand -hex 32)
JUPYTERHUB_API_TOKEN=
