input.raw_input {
    font-family: monospace;
    font-size: inherit;
    color: inherit;
    width: auto;
    vertical-align: baseline;
    padding: 0em 0.25em;
    margin: 0em 0.25em;
    width: 100px;
}

#footer {
    display: flex;
    width: 100%;
    background: white;
    bottom: 0;
}

#footer-left {
  width: 32.5%;
}

#footer-center {
  width: 32.5%;
}

#footer-right {
  width: 32.5%;
  flex-direction: column;
  align-items: flex-end;
}

.footerimg {
  margin: 15px;
}

.centering {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items:center;  /* center vertically */
}

.footerpar{
  padding: 1px 20px;
  margin: 0px;
}
