[Unit]
Description=JupyterHubRestServer

[Service]
EnvironmentFile=/etc/jupyterhub/env
WorkingDirectory=/etc/jupyterhub/rest
ExecStart=/usr/bin/python3 /etc/jupyterhub/rest/jupyterhub_rest_server_start.py 
