[Unit]
Description=JupyterHubRestServer

[Service]
EnvironmentFile=/etc/jupyterhub/env
WorkingDirectory=/etc/jupyterhub/server
ExecStart=/usr/bin/python3 /etc/jupyterhub_restserver/jupyterhub_rest_server_start.py 
